# Data cleanup

The data is in the file `sound and tree data.xlsx`. 

First, we need to clean the data a bit. We will separate longitudes and latitudes from the `location` column and create new columns for them. we will also add a column for the distance between the tree and the speaker, aswell as a column for labels "tree", "amplifier" and "speaker". Reformating of the data will be done using python. The data will be saved in a new file `sound_and_tree_data_cleaned.csv` and provided with this document. Note beforehand we aded a new column namde label to the data, which is the label of the data, either "tree", "amplifier" or "speaker".

In [6]:
import pandas as pd

data = pd.read_csv("sound_and_tree_data.csv")
data

,name_row,name_tree,name_speaker,name_amplifyer,location,sound_dB,labels
0,3,1.0,NaN,NaN,"21,72136°S, 165,82783°E",39.3,tree_3_1
1,3,2.0,NaN,NaN,"21,72140°S, 165,8211°E",43.8,tree_3_2
2,3,3.0,NaN,NaN,"21,72141°S, 165,82821°E",63.8,tree_3_3
3,3,NaN,1.0,NaN,"21,72143°S, 165,82837°E",NaN,speaker_3_1
4,3,4.0,NaN,NaN,"21,72145°S, 165,82848°E",66.7,tree_3_4
5,3,5.0,NaN,NaN,"21,72147°S, 165,82859°E",40.7,tree_3_5
6,3,6.0,NaN,NaN,"21,72150°S, 165,82887°E",34.5,tree_3_6
7,8,1.0,NaN,NaN,"21,72168°S, 165,82787°E",66.8,tree_8_1
8,8,NaN,2.0,NaN,"21,72170°S, 165,82798°E",NaN,speaker_8_2
9,8,2.0,NaN,NaN,"21,72171°S, 165,82805°E",73.2,tree_8_2
10,8,3.0,NaN,NaN,"21,72173°S, 165,82816°E",52.1,tree_8_3
11,8,NaN,NaN,1.0,"21,72176°S, 165,82832°E",NaN,amp_8_1
12,8,4.0,NaN,NaN,"21,72178°S, 165,82848°E",52.0,tree_8_4
13,8,5.0,NaN,NaN,"21,72178°S, 165,82856°E",54.5,tree_8_5
14,8,NaN,3.0,NaN,"21,72179°S, 165,82867°E",NaN,speaker_8_3
15,8,6.0,NaN,NaN,"21,72812°S, 165,82883°E",65.1,tree_8_6
16,13,1.0,NaN,NaN,"21,72201°S, 165,82779°E",57.2,tree_13_1
17,13,2.0,NaN,NaN,"21,72204°S, 165,82807°E",58.0,tree_13_2
18,13,3.0,NaN,NaN,"21,72205°S, 165,82817°E",66.4,tree_13_3
19,13,NaN,4.0,NaN,"21,72207°S, 165,82829°E",NaN,speaker_13_4
20,13,4.0,NaN,NaN,"21,72209°S, 165,82845°E",63.2,tree_13_4
21,13,5.0,NaN,NaN,"21,72210°S, 165,82852°E",57.3,tree_13_5
22,13,6.0,NaN,NaN,"21,72213°S, 165,82880°E",32.3,tree_13_6

In [5]:

# Separating longitude and lattitude from the location column

data["longitude"] = data["location"].apply(lambda x: x.split(",")[0])
data["latitude"] = data["location"].apply(lambda x: x.split(",")[1])